{% extends 'base.html' %}
{% load static %}
{% block title %}{{ vacancy.name }}{% endblock title %}
{% block static %}
<link rel="stylesheet" type="text/css" href="{% static "css/core/vacancy.css" %}" type=”image/x-icon”>
{% endblock static %}
{% block body %}
<div class="job-details">
    <h2>{{ vacancy.name }}</h2>
    <p>Posted by: {{ vacancy.employee.first_name }} {{ vacancy.employee.last_name }}</p>
    <p>Company: {{ vacancy.company.name }}</p>
    <p>Publication date: {{ vacancy.registred_at }}</p>
    <p>Country: 
        {% for country in vacancy.countries.all %}
            {{ country }}
        {% endfor %}
    </p>
    <p>Contract: 
        {% for contract in vacancy.contracts.all %}
            {{ contract }}
        {% endfor %}
    </p>
    <p>Level: 
        {% for level in vacancy.levels.all %}
            {{ level }}
        {% endfor %}
    </p>
    <p>Work format: 
        {% for work_format in vacancy.work_formats.all %}
            {{ work_format }}
        {% endfor %}
    </p>
    <p>Salary range: 
        {% if vacancy.salary.min_salary and vacancy.salary.max_salary %}
            {{ vacancy.salary.min_salary}}$ - {{ vacancy.salary.max_salary}}$
        {% elif not vacancy.salary %}
            -
        {% elif not vacancy.salary.min_salary %}
            up to {{ vacancy.salary.max_salary }}$
        {% elif not vacancy.salary.max_salary %}
            from {{ vacancy.salary.min_salary }}$
        {% endif %}
    </p>
    <p>Tags: 
        {% for tag in vacancy.tags.all %}
            {{ tag }}
        {% endfor %}
    </p>
    <p>Required experience: {{ vacancy.years_exp }} years </p>
    <div class="description">
      <h3>Description:</h3>
      <p>{{ vacancy.description }}</p>
    </div>
    <button class="apply-btn" onclick="window.location.href='{% url 'vacancy-apply' vacancy.pk %}';">Apply</button>
  </div>
  {% endblock body %}