table {
    border-collapse: collapse;
    margin: 5rem auto;
  }
  table th,
  table td {
    padding: 1rem;
    text-align: left;
  }
  table th {
    background: #333;
    color: #fff;
  }
  table td:first-child {
    font-weight: bold;
  }
  table tbody tr:nth-child(odd) {
    background: #f0f0f0;
  }
  table tbody tr:hover {
    background: #ddd;
  }